<<<<<<< HEAD
html body {
    margin:0;
    padding: 0;
=======

body, html  {
    margin:0;
    padding: 0;
}

@font-face {
  font-family: 'Lust';
  src: url("../fonts/Positype - LustScriptDisplay.otf") format('truetype');
}


.mega-container {
    background-image: url("https://images.unsplash.com/photo-1441906363162-903afd0d3d52?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=d83f1814f65b48d3f22d31f53209ffb4");
    background-repeat: no-repeat;
    background-position: 50% 23%;
    height: 100%;
    height: 100vh;
    position: relative;
    background-color: #40a0d2;


}
.content-container {
    background:rgba(255, 255, 255, 0.84);
    /*border: 4px solid #fff;*/
    height: 80%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content {
    color: #343d47;
    position: relative;
    text-align: center;
    width: 48%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
>>>>>>> b4f58dac406ef737633c1f9d20d900d4d3b461fc
}

hr {
    border: 0;
    border-top: 7px solid #cdb035;
    width: 80px;
    padding: 0;
}
h1 {
<<<<<<< HEAD
    font-family: 'magnel';
    font-size: 70px;

}

.container {
    background: url("/images/bg-header.jpeg");
    height: 100%;
    width: 100%;
    overflow: auto;
}

.center-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000;
    box-shadow: none;
    width: 88vw;
    height: 82vh;

}

.content {
    font-family: monospace;
    /*border: 1px solid red;*/
    color: #353535;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
=======
    background:url("https://images.unsplash.com/photo-1441906363162-903afd0d3d52?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=d83f1814f65b48d3f22d31f53209ffb4");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 50% 23%;
    font-family: 'Lust', 'yeseva one', serif;
    font-size:6vw;
    color: #40a0d2;
    margin: 0;
    line-height: normal;


}

p {
    font-family: 'arimo', sans-serif;
    letter-spacing: 1px;
    padding: 0 60px;
    text-align: left;
    font-size: 16px;
    color: #354a62;
}

.lists {
    padding-top: 6px;
}


ul {
    list-style:none;
    padding: 0px 0 0px 0;
    list-style-position: inside

}

li{
    font-weight: bold;
    font-family: 'arimo', sans-serif;
    list-style-type: none;
    padding: 0;
    margin:0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    display: inline;


}
.spacing {
  padding: 0 7px 0px 3.5px;
}
#spacing-right {
    padding: 0 14px 0px 0;
}
#spacing-left {
    padding: 0 0px 0px 14px;
}

a {
  color: #cdb035;
}

a:hover {
  text-decoration:none;
  font-weight: bold;
  color: #cd8735;
}

a:focus {
  text-decoration: none;
  color: #cd8735;
}


.text-center {
  text-align: center;
  width: 100%;
}

/*media queries; support diversity :)*/
@media (max-width:1200px) {
    p {
        padding: 0;
        font-size: 14px;
    }
    hr {
        border-top: 5px solid #cdb035;
        width: 50px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}
@media (max-width:900px) {
    li {
        font-size: 13px;
        list-style-type: normal;
    }
}
@media (max-width:845px) {
    li {
        font-size: 12px;
        list-style-type: normal;
    }
}
@media (max-width:585px) {
    h1 {
        font-size:44px;
        line-height: 45px;
        padding-bottom: 35px;
    }
    .content-container {
        height: 90%;
        width: 80%;
}
@media (max-width:550px) {
    h1 {
        font-size:34px;
        line-height: 22px;
        padding-bottom: 29px;
    }
    .content-container {
        height: 90%;
        width: 80%;
    }
    p {
        padding-top: 10px;
        font-size: 12px;
    }
    .content {
        width: 66%;
    }
}

@media (max-width:330px) {
    h1 {
        font-size:31px;
        line-height: 25px;
        padding-bottom: 25px;
    }

}
>>>>>>> b4f58dac406ef737633c1f9d20d900d4d3b461fc
