@font-face {
  font-family: hensa;
  src: url("../fonts/hensa.otf") format('opentype'), 
       url("../fonts/hensa.ttf") format('truetype');
}
/*@font-face {
  font-family: 'kitten';
  src: url("../fonts/Kitten Swash-trial.ttf") format('opentype');*/
/*}*/
